<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shanmu.schedulemaker">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScheduleMaker">
        <activity
            android:name=".ProfileViewActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressViewActivity"
            android:exported="false" />
        <activity
            android:name=".AllScheduleFlowViewActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleCreatedActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleComputeErrorActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ComputeSchedule"
            android:exported="false" />
        <activity
            android:name=".GetTimeSlots"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".GetLocations"
            android:exported="false" />

<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="${MAPS_API_KEY}" />-->

<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyDXrNFKauyoWeL_pgcvlvRt2ZnAarnDyaI" />-->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAuXy9oaKSn6oiduuGhSep5Hw28ELHUR1U" />
<!--        AIzaSyDXrNFKauyoWeL_pgcvlvRt2ZnAarnDyaI-->
<!--        AIzaSyAuXy9oaKSn6oiduuGhSep5Hw28ELHUR1U-->

        <activity
            android:name=".GetGoalsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>